<section id="inicio" class="min-h-screen bg-torii-black flex flex-col justify-center items-center text-center px-6 md:px-12">
  
  <img 
    src="assets/LOGO_CORRETO.jpg" 
    alt="Logo Judô Ubuntu" 
    class="w-48 h-48 md:w-64 md:h-64 object-contain mb-8 rounded-full shadow-lg shadow-ubuntu-gold/20"
  >

  <h1 class="text-4xl md:text-6xl font-bold text-kimono-white mb-4 tracking-tight">
    Judô <span class="text-ubuntu-gold">Ubuntu</span>
  </h1>
  
  <p class="text-lg md:text-2xl text-kimono-white mb-10 max-w-2xl leading-relaxed">
    Eu sou porque <strong class="text-ubuntu-gold font-bold">nós somos</strong>. <br class="hidden md:block">
    Transformando realidades através da disciplina do esporte e do benefício mútuo.
  </p>

    <a href="#filosofia" class="bg-ubuntu-gold text-torii-black font-extrabold py-4 px-10 rounded-full text-lg hover:bg-yellow-600 transition-all duration-300 transform hover:scale-105 shadow-[0_0_20px_rgba(200,161,69,0.4)] cursor-pointer inline-block">
    Conheça nosso Impacto
    </a>
</section>