@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
/* =========================================
PALETA DE CORES - JUDÔ UBUNTU
========================================= */
:root {
  --color-torii-black: #121212; /* Fundo principal escuro */
  --color-ubuntu-gold: #c8a145; /* Dourado das mãos e textos do logo */
  --color-kimono-white: #f9f8f4; /* Fundo do patch do logo */
  --color-pure-white: #ffffff; /* Textos de alto contraste */
}

/* Reset básico para não termos bordas brancas indesejadas */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-torii-black);
  color: var(--color-kimono-white);
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* Ocultar scrollbar mantendo a funcionalidade de scroll (Carrossel) */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}